*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

main,
footer{
	color:rgb(126, 126, 130);
}

a{
	text-decoration: none;
	color:rgb(126, 126, 130);
}

ul li{
	list-style-type:none;
}

.row{
	display:flex;
}

.col{
	display: flex;
	flex-direction: column;
}

.white-tx{
	font-weight: bold;
	color:white;
}

/* left nav bar */

nav#left-navbar{
	position:relative;
	font-size:.6em;
	width:160px;
	line-height:2.7em;
	flex-shrink:0;
	justify-content: space-between;
	background-color: black;
}

nav#left-navbar img:not(#main-logo img){
	width:12%;
}

nav#left-navbar img,
nav#left-navbar i.fas{
	vertical-align: middle;
}


/* upper left nav bar */


nav#left-navbar #upper-nav div#main-logo{
	height:50px;
	padding-top:.5em;
}

nav#left-navbar #upper-nav div#main-logo img{
	width:70%;
}

nav#left-navbar #upper-nav img{
	margin-left:10px;
}

nav#left-navbar #upper-nav div.active{
	position:relative;
}

nav#left-navbar #upper-nav div.active::before{
	content:'';
	position:absolute;
	width:2px;
	height:25px;
	background:#1ED760;
	left:0;
}

nav#left-navbar .nav-element:hover,
nav#left-navbar li:hover, 
nav#left-navbar .playlist i:hover,
nav#left-navbar .playlist span:hover{
	color:white;
	cursor:pointer;
}

nav#left-navbar #upper-nav .playlist{
	padding:2px 10px;
}

nav#left-navbar #upper-nav .playlist>h2{
	padding:.5em 0;
	font-size:1em;
}

nav#left-navbar #upper-nav .playlist ul{
	height:40vh;
	position:absolute;
	right:0;
	left:10px;
	overflow-y: auto;
}



/* lower left nav bar */

nav#left-navbar #lower-nav{
	position: relative;
	padding: 2px 10px;
	background: black;
}


nav#left-navbar #lower-nav .nav-element{
	border-bottom:1px solid grey;
}

nav#left-navbar #lower-nav .nav-element img{
	width: 1.5em;
}

nav#left-navbar #lower-nav .nav-element img, 
nav#left-navbar #lower-nav .user img{
	margin-right:2%;
}

nav#left-navbar #lower-nav .user{
	padding:.5em 0;
}

nav#left-navbar #lower-nav .user img{
	width:15%;
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
}


nav#left-navbar, 
section#main-content{
	height:calc(100vh - 50px);
}

/* main content section */


section#main-content{
	overflow-y: auto;
	background-color:rgb(20, 25, 34);
}

section#main-content img{
	width:100%;
}


/* main content section top add */


section#main-content div#add{
	height:50px;
	top:0;
	position:sticky;
	z-index: 1;
	padding-right:0.2em;
	background-color: rgba(0, 0, 0, 0.4);
}

section#main-content div#add .btn-upgrade{
	font-size:.6em;
	color:white;
	padding:1em 1.7em;
	border-radius: 3em;
	border:.2em solid grey;
	background-color: rgba(0, 0, 0, 0.7);
	position:absolute;
	top:0;
	right:2%;
	animation: bounce .8s;
	animation-direction: alternate;
	filter:drop-shadow(0 .2rem .2rem grey);
	animation-iteration-count: infinite;
}


@keyframes bounce{
	from{
		transform:translate3d(0, 2px, 0);
	}
	to{
		transform:translate3d(0, 10px, 0px);
	}
}

section#main-content div#add .btn-upgrade:hover{
	font-size:.65em;
	
}

section#main-content div#add .btn-upgrade:active{
	color:#1ED760;
}

div#add .btn-upgrade, 
nav#center-navbar ul.row, 
main nav#left-navbar .playlist>h2{
	text-transform: uppercase;
}





/* main content section navbar */

section#main-content nav#center-navbar{
	justify-content: center;
	align-items:center;
}

section#main-content nav#center-navbar ul.row{
	padding:.2em 0;
	flex-wrap:wrap;
	justify-content: center;
}

section#main-content nav#center-navbar ul.row li{
	padding:1em 1em;
	font-size:.9em;
}

section#main-content nav#center-navbar ul li a:hover{
	color:white;
}

section#main-content nav#center-navbar ul li a:active{
	color:#1ED760;
}

section#main-content nav#center-navbar ul li.active{
	position:relative;
}

section#main-content nav#center-navbar ul li.active::before{
	content:'';
	position:absolute;
	width:25px;
	height:2px;
	background:#1ED760;
	bottom:5px;
	left:0;
	right:0;
	margin:auto;
}

/* main content section categories */


section#main-content .categories{
	padding:0 2em 2em;
}

section#main-content .categories .category-title{
	font-size:1.2em;
	padding-bottom:.4em;
}

section#main-content .categories p{
	font-size:.6em;
}

section#main-content .categories .row{
	padding:1.5em 0;
}

section#main-content .categories .row.recently-plyd{
	justify-content: space-between;
}

section#main-content .categories .row.created-for .card,
section#main-content .categories .row.artists .card
{
	margin-right:2%;
}


section#main-content .categories .row .card{
	width:calc(90% / 6);
	text-align: center;
	margin-right:2%;
}

section#main-content .categories .row .card:hover{
	transform: scale(1.05);
}

section#main-content .categories .row.artists .card img{
	border-radius: 50%;
}


#main-content .categories .card figcaption>h4{
	font-size:.7em;
}

#main-content .categories .card figcaption>span{
	font-size:.5em;
}

section#main-content .categories .row .card div.layer{
	position:relative;
}


section#main-content .categories .row .card div.layer:hover i{
	display: block;
	}


section#main-content .categories .row .card div.layer i {
	position:absolute;
	color:#1ED760;
	cursor: pointer;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	display:none;
}

section#main-content .categories .row .card:hover.card div.layer:before{
	content: "";
	top: 0;
	right: 0;
	bottom:2%;
	left: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}

section#main-content .categories .row.artists .card:hover.card div.layer:before{
	border-radius: 50%;
}


/* bottom bar */


footer#player-bar{
	height:50px;
	position:relative;
	font-size:.7em;
	align-items: center;
	justify-content:space-between;
	background-color: rgb(40, 40, 40);
}

footer#player-bar img{
	width:3em;
	margin-left:2%;
}

footer#player-bar i.far.fa-play-circle.fa-2x:hover{
	font-size:2.2em;
}

footer#player-bar i:hover{
	color:white;
}

footer#player-bar i:active{
	transform:scale(1.2);
}


/* footer section album */


footer#player-bar section.player-album{
	align-items: center;
	flex-basis:20%;
	gap:5%;
}

footer#player-bar section.player-album .song-name{
	font-size:.7em;
} 

footer#player-bar p.song-name:hover{
	text-decoration: underline;
}

footer#player-bar section.player-album .interactions i:first-child{
	margin:0 8px;
}

/* footer section player */

footer#player-bar section.player-controls{
	flex-basis:40%;
}

footer#player-bar section.player-controls div.icons{
	margin:0.8% 0;
	font-size:0.85em;
	justify-content:center;
	align-items: center;
}

footer#player-bar section.player-controls i,
footer#player-bar section.player-audio i{
	margin-right:3%;
}

footer#player-bar section.player-controls .row{
	justify-content:center;
	align-items:center;
}

footer#player-bar .player-slider{
	width:22vw;
	height:3px;
	background-color:rgb(99, 99, 99);
	border-radius:20px;
	position:relative;
} 

footer#player-bar  .player-controls .current-time,
footer#player-bar  .player-controls .total-time{
	margin:0 2%;
	font-size:.6em;
}

footer#player-bar  .player-slider .played-time{
	position:absolute;
	border-radius:20px;
	bottom:0;
	left:0;
	height:3px;
	width:20%;
	background-color:rgb(194, 194, 194);
}


footer#player-bar .player-slider:hover .played-time{
	background-color:rgb(96, 250, 49);
}

footer#player-bar .player-slider:hover .played-time::before{
	content: "\f111";
	color:white;
	position:absolute;
	bottom:-5px;
	right:0;
	font-family: "Font Awesome 5 Free";
	font-weight: bold;
} 



/* footer section player audio */


section.player-audio.row.white-tx{
	flex-basis:20%;
	justify-content: end;
	align-items:center;
}

footer#player-bar section.player-audio div.player-slider{
	width:7vw;
	margin:0 .5em 0 0;
}



/* MEDIUM SCREEN VERSION */
@media screen and (max-width:992px){
	section#main-content .categories .row{
		flex-wrap:wrap;
	}
	section#main-content .categories .row .card{
		width:calc(92% / 4);
		margin-right:2%;
	}

	section#main-content .categories .row.recently-plyd{
		justify-content: flex-start;
	}
}



/* SMALL SCREEN VERSION */
@media screen and (max-width:768px){
	section#main-content nav#center-navbar ul.row li {
		font-size:.7em;
	}

	section#main-content .categories .row .card{
		width:48%;
	}

	footer#player-bar section.player-album .interactions i:first-child{
		display: block;
		margin:0;
	}
}


/* XSMALL SCREEN VERSION */

@media screen and (max-width:576px){
	nav#left-navbar span,
	nav#left-navbar div.playlist,
	nav#left-navbar div#main-logo img{
		display: none;
	}

	
	nav#left-navbar{
		width:40px;
	}

	nav#left-navbar img {
		margin:0 8px;
	}

	nav#left-navbar img:not(#main-logo img){
		width:50%;
	}

	nav#left-navbar #upper-nav div.active::before {
		width:0;
		height:0;
	}
	
	nav#left-navbar #upper-nav div#main-logo::after{
		content: url(../img/logo-small.svg);
		display: inline-block;
		width:65%;
		margin-left:.7em;
	}

	nav#left-navbar #lower-nav {
		padding: 0 0 .5em .3em;
	}
	

	nav#left-navbar #lower-nav .user img {
		width: 45%;
	}

	nav#left-navbar #lower-nav .nav-element {
		border-bottom:none;
	}

	footer#player-bar {
		font-size: .55em;
		min-width:280px;
	}
}