*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

main{
	color:rgb(126, 126, 130);
}

ul li{
	list-style-type:none;
}

.row{
	display:flex;
}

.col{
	display: flex;
	flex-direction: column;
}

.white-tx{
	font-weight: bold;
	color:white;
}


/* left nav bar */

nav#left-navbar{
	padding:.7em .7em 0 .7em;
	width:160px;
	flex-shrink:0;
	justify-content: space-between;
	background-color: black;
}

nav#left-navbar img:not(#main-logo img){
	width:10%;
}

nav#left-navbar img,
nav#left-navbar i.fas{
	vertical-align: middle;
}


/* upper left nav bar */

nav#left-navbar #upper-nav div#main-logo{
	width:50%;
	padding-bottom:.5em;
}

nav#left-navbar #upper-nav .nav-icon, 
nav#left-navbar #upper-nav .playlist>h2{
	padding:.3em 0;
}

nav#left-navbar #upper-nav .nav-icon span{
	font-size:.6em;
}

nav#left-navbar #upper-nav .playlist>h2{
	padding:1em 0;
}

nav#left-navbar #upper-nav .playlist span,
nav#left-navbar #upper-nav .playlist ul li,
nav#left-navbar #upper-nav .playlist>h2{
	font-size:.6em;
}

nav#left-navbar #upper-nav .playlist ul li{
	padding:.7em 0;
}

/* lower left nav bar */

nav#left-navbar #lower-nav{
	font-size:.6em;
	padding-bottom:.5em;
}

nav#left-navbar #lower-nav .nav-icon{
	padding-bottom:1em;
	border-bottom:1px solid grey;
}

nav#left-navbar #lower-nav .user{
	padding-top:1em;
}

nav#left-navbar #lower-nav .user img{
	border-radius: 50%;
	background-color: rgb(128, 128, 128);

}


nav#left-navbar, 
section#main-content{
	height:93vh;
}

/* main content section */


section#main-content{
	flex-grow:1;
	overflow-y: auto;
	background-color:rgb(20, 25, 34);
}

section#main-content img{
	width:100%;
}


/* main content section top add */


section#main-content div#add{
	text-align:right;
	padding:.8em .2em .8em 0;
	background-color: rgba(0, 0, 0, 0.4);
}

section#main-content div#add button.upgrade{
	font-size:.6em;
	color:white;
	min-width:160px;
	padding:.8em 2.7em;
	border-radius: 1.5em;
	border:1px solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

div#add button.upgrade, 
nav#main-navbar ul.row, 
main nav#left-navbar .playlist>h2{
	text-transform: uppercase;
}


/* main content section navbar */

section#main-content nav#main-navbar{
	justify-content: center;
	align-items:center;
}

section#main-content nav#main-navbar ul.row{
	padding:.2em 0;
	flex-wrap:wrap;
}

section#main-content nav#main-navbar ul.row li{
	padding:1em 1em;
	font-size:.5em;
}


/* main content section categories */


section#main-content .categories{
	padding:0 1em;
}

section#main-content .categories .category-title{
	font-size:1em;
	padding:1em 0;
}

section#main-content .categories .row{
	gap:1em;
}

section#main-content .categories .row .album{
	width:calc(90% / 6);
	text-align: center;
}

#main-content .categories .album>figure figcaption>h4{
	font-size:.7em;
}

#main-content .categories .album>figure figcaption>span{
	font-size:.5em;
}


/* bottom bar */

footer#bottom-bar{
	height:7vh;
	align-items: center;
	justify-content:space-between;
	background-color: rgb(40, 40, 40);
}


