*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

main{
	color:rgb(126, 126, 130);
}

a{
	text-decoration: none;
	color:white;
}

ul li{
	list-style-type:none;
}

img{
	width:100%;
}

.row{
	display:flex;
}

.column{
	flex-direction: column;
}


/* left nav bar */

main nav#left-navbar{
	padding:.7em 1em 0 .7em;
	width:150px;
	flex-shrink:0;
	justify-content: space-between;
	background-color: black;
}

main nav#left-navbar div#main-logo{
	width:75%;
	padding-bottom:.8em;
}

main nav#left-navbar i.fas{
	vertical-align: middle;
}

main nav#left-navbar .nav-icon, 
main nav#left-navbar .playlist>h2{
	padding:.3em 0;
}

main nav#left-navbar .nav-icon span{
	font-size:.6em;
}

main nav#left-navbar .playlist>h2{
	padding-top:1.2em;
	text-transform:uppercase;
}

main nav#left-navbar .playlist span,
main nav#left-navbar .playlist ul li,
main nav#left-navbar .playlist>h2{
	font-size:.7em;
}

main nav#left-navbar .playlist ul li{
	padding:.8em 0;
}

main nav#left-navbar nav.lower .nav-icon.install::before{
	font-family: "Font Awesome 5 Free";
	content: "\f358";
	font-size:.5em;
}

main nav#left-navbar nav.lower .user{
	font-size:.5em;
	padding-bottom:.5em;
}

main nav#left-navbar nav.lower .user::before{
	font-family: "Font Awesome 5 Free";
	content: "\f2bd";
	font-size:2em;
	vertical-align: middle;
	padding-right:.4em;
}

main nav#left-navbar nav.lower p{
	width:100%;
	display: inline-block;
	border-top: .1em solid rgb(80, 80, 80);
}

main nav#left-navbar .playlist>h2, 
main nav#left-navbar nav.lower .user{
	color:white;
}


main nav#left-navbar, 
main section#main-content
{
	height:91vh;
}

/* main content section */

main section#main-content{
	flex-grow:1;
	overflow-y: auto;
	background-color:rgb(20, 25, 34);
	
}

/* main content section top add */

main section#main-content div#add{
	text-align:right;
	line-height:51px;
	padding:.8em .2em .8em 0;
	background-color: rgba(0, 0, 0, 0.4);
}

main section#main-content div#add button.upgrade{
	font-size:.6em;
	min-width:160px;
	padding:.8em 2.7em;
	border-radius: 1.5em;
	text-transform: uppercase;
	border:1px solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

/* main content section navbar */

main section#main-content nav#main-navbar{
	justify-content: center;
	align-items:center;
	align-content:flex-start;
}

main section#main-content nav#main-navbar ul.row{
	padding:.5em 0;
	flex-wrap:wrap;
	text-transform: uppercase;
}

main section#main-content nav#main-navbar ul.row li{
	flex-shrink: 0;
	padding:1em 1em;
	font-size:.8em;
}

/* main content section categories */


main section#main-content .categories{
	padding:1em;
}

main section#main-content .categories .row.group{
	flex-wrap: wrap;
}

main section#main-content .categories .group .album{
	width:calc(100% / 6);
	padding:2em .7em 0 0;
	text-align: center;
}

main section#main-content .categories .group .album>figure{
	width:10em;
}




/* bottom bar */

footer#bottom-bar{
	height:9vh;
	background-color: rgb(40, 40, 40);
}