*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

main{
	color:rgb(126, 126, 130);
}

a{
	text-decoration: none;
}

ul li{
	list-style-type:none;
}

img{
	width:100%;
}

.row{
	display:flex;
}

.column{
	display: flex;
	flex-direction: column;
}

.white-tx{
	color:white;
}


/* left nav bar */

main nav#left-navbar{
	padding:.7em 1em 0 .7em;
	width:150px;
	flex-shrink:0;
	justify-content: space-between;
	background-color: black;
}

main nav#left-navbar div#main-logo{
	width:75%;
	padding-bottom:.8em;
}

main nav#left-navbar i.fas{
	vertical-align: middle;
}

main nav#left-navbar .nav-icon, 
main nav#left-navbar .playlist>h2{
	padding:.3em 0;
}

main nav#left-navbar .nav-icon span{
	font-size:.6em;
}

main nav#left-navbar .playlist>h2{
	padding-top:1.2em;
}

main nav#left-navbar .playlist span,
main nav#left-navbar .playlist ul li,
main nav#left-navbar .playlist>h2{
	font-size:.7em;
}

main nav#left-navbar .playlist ul li{
	padding:.8em 0;
}

main nav#left-navbar .lower-nav .nav-icon.install::before{
	font-family: "Font Awesome 5 Free";
	content: "\f358";
	font-size:.5em;
}

main nav#left-navbar .lower-nav .user{
	font-size:.6em;
	padding-bottom:.5em;
}

main nav#left-navbar .lower-nav .user::before{
	font-family: "Font Awesome 5 Free";
	content: "\f2bd";
	font-size:2em;
	vertical-align: middle;
	padding-right:.2em;
}

main nav#left-navbar .lower-nav p{
	width:100%;
	display: inline-block;
	border-top: .1em solid rgb(80, 80, 80);
}


main nav#left-navbar, 
main section#main-content{
	height:91vh;
}

/* main content section */

main section#main-content{
	flex-grow:1;
	overflow-y: auto;
	background-color:rgb(20, 25, 34);
}

/* main content section top add */

main section#main-content div#add{
	text-align:right;
	padding:.8em .2em .8em 0;
	background-color: rgba(0, 0, 0, 0.4);
}

main section#main-content div#add button.upgrade{
	font-size:.6em;
	color:white;
	min-width:160px;
	padding:.8em 2.7em;
	border-radius: 1.5em;
	border:1px solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

div#add button.upgrade, 
nav#main-navbar ul.row, 
main nav#left-navbar .playlist>h2{
	text-transform: uppercase;
}


/* main content section navbar */

main section#main-content nav#main-navbar{
	justify-content: center;
	align-items:center;
}

main section#main-content nav#main-navbar ul.row{
	padding:.5em 0;
	flex-wrap:wrap;
}

main section#main-content nav#main-navbar ul.row li{
	padding:1em 1em;
	font-size:.8em;
}


/* main content section categories */


main section#main-content .categories{
	padding:1em;
}

#main-content .categories .categories-title{
	font-size:1.2em;
}

main section#main-content .categories .row.group{
	flex-wrap: wrap;
}

main section#main-content .categories .group .album{
	width:150px;
	margin-right:2em;
	padding:2em .7em 0 0;
	text-align: center;
}

#main-content .categories .group .album>figure{
	width:10em;
}

#main-content .categories .group .album>figure figcaption>h4{
	font-size:1em;
}




/* bottom bar */

footer#bottom-bar{
	height:9vh;
	align-items: center;
	justify-content:space-between;
	background-color: rgb(40, 40, 40);
}