*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.row{
	display:flex;
}

main nav#left-navbar{
	flex-basis:150px;
	flex-shrink:0;
	background-color: black;
}

main section#main-content{
	flex-basis:calc(100% - 150px);
	flex-shrink:0;
	background-color:rgb(20, 25, 34);
}

main section#main-content, 
main nav#left-navbar{
	height:88vh;
}

main section#main-content div#add{
	background-color: rgba(0, 0, 0, 0.4);
	text-align:right;
	line-height:77px;
	color:white;
}


main section#main-content nav#main-navbar .row{
	justify-content: center;
	color:white;
	height:10vh;
}

main section#main-content div#add,
footer#bottom-bar{
	height:12vh;
}

footer#bottom-bar{
	background-color: rgb(40, 40, 40);
}