*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

main{
	color:rgb(126, 126, 130);
}

ul li{
	list-style-type:none;
}

.row{
	display:flex;
}

.col{
	display: flex;
	flex-direction: column;
}

.white-tx{
	font-weight: bold;
	color:white;
}


/* left nav bar */

nav#left-navbar{
	padding:0 .7em 0 .8em;
	font-size:.6em;
	width:160px;
	line-height:2.7em;
	flex-shrink:0;
	justify-content: space-between;
	background-color: black;
}

nav#left-navbar img:not(#main-logo img){
	width:12%;
}

nav#left-navbar img,
nav#left-navbar i.fas{
	vertical-align: middle;
}


/* upper left nav bar */


nav#left-navbar #upper-nav div#main-logo{
	height:50px;
	padding-top:.5em;
}

nav#left-navbar #upper-nav div#main-logo img{
	width:70%;
}

nav#left-navbar #upper-nav .playlist>h2{
	padding:.5em 0;
	font-size:1em;
}

nav#left-navbar #upper-nav .playlist ul{
	height:40vh;
	overflow-y: auto;
}



/* lower left nav bar */

nav#left-navbar #lower-nav{
	padding-bottom:1em;
}

nav#left-navbar #lower-nav .nav-icon{
	border-bottom:1px solid grey;
}

nav#left-navbar #lower-nav .user{
	padding-top:1em;
}

nav#left-navbar #lower-nav .user img{
	border-radius: 50%;
	background-color: rgb(128, 128, 128);
}


nav#left-navbar, 
section#main-content{
	height:93vh;
}

/* main content section */


section#main-content{
	overflow-y: auto;
	background-color:rgb(20, 25, 34);
}

section#main-content img{
	width:100%;
}


/* main content section top add */


section#main-content div#add{
	text-align:right;
	height:50px;
	position:sticky;
	z-index: 1;
	padding-right:0.2em;
	line-height: 50px;
	background-color: rgba(0, 0, 0, 0.4);
}

section#main-content div#add .btn-upgrade{
	font-size:.6em;
	color:white;
	padding:.7em 1.7em;
	border-radius: 1.5em;
	border:1px solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

div#add button.upgrade, 
nav#main-navbar ul.row, 
main nav#left-navbar .playlist>h2{
	text-transform: uppercase;
}


/* main content section navbar */

section#main-content nav#main-navbar{
	justify-content: center;
	align-items:center;
}

section#main-content nav#main-navbar ul.row{
	padding:.2em 0;
	flex-wrap:wrap;
}

section#main-content nav#main-navbar ul.row li{
	padding:1em 1em;
	font-size:.7em;
}


/* main content section categories */


section#main-content .categories{
	padding:0 1em;
}

section#main-content .categories .category-title{
	font-size:1.2em;
	padding-bottom:.4em;
}

section#main-content .categories p{
	font-size:.6em;
}

section#main-content .categories .row{
	align-items:flex-start;
	padding-top:1em;
}

section#main-content .categories .row.recently-plyd{
	justify-content: space-between;
}

section#main-content .categories .row.created-for .card,
section#main-content .categories .row.artists .card
{
	margin-right:2%;
}

section#main-content .categories .row.artists .card img{
	border-radius: 50%;
}

section#main-content .categories .row .card{
	width:calc(90% / 6);
	text-align: center;
}

#main-content .categories .card figcaption>h4{
	font-size:.7em;
}

#main-content .categories .card figcaption>span{
	font-size:.5em;
}


/* bottom bar */

footer#bottom-bar{
	height:7vh;
	min-height:50px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	align-items: center;
	justify-content:space-between;
	background-color: rgb(40, 40, 40);
}


