*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	font-family: 'Montserrat', sans-serif;
}

main{
	color:rgb(126, 126, 130);
}

a{
	text-decoration: none;
	color:white;
}

ul li{
	list-style-type:none;
}

img{
	width:100%;
}

.row{
	display:flex;
}

/* left nav bar */

main nav#left-navbar{
	flex-basis:150px;
	flex-shrink:0;
	background-color: black;
}

main nav#left-navbar, 
main section#main-content
{
	height:92vh;
}

/* main content section */

main section#main-content{
	flex-shrink:0;
	overflow-y: auto;
	flex-basis:calc(100% - 150px);
	background-color:rgb(20, 25, 34);
	
}

/* main content section top add */

main section#main-content div#add{
	text-align:right;
	line-height:51px;
	padding:.8em .2em .8em 0;
	background-color: rgba(0, 0, 0, 0.4);
}

main section#main-content div#add button.upgrade{
	font-size:.6em;
	min-width:160px;
	padding:.8em 2.7em;
	border-radius: 1.5em;
	text-transform: uppercase;
	border:1px solid white;
	background-color: rgba(0, 0, 0, 0.4);
}

/* main content section navbar */

main section#main-content nav#main-navbar{
	justify-content: center;
	align-items:center;
	align-content:flex-start;
}

main section#main-content nav#main-navbar ul.row{
	padding:.5em 0;
	flex-wrap:wrap;
	text-transform: uppercase;
}

main section#main-content nav#main-navbar ul.row li{
	flex-shrink: 0;
	padding:1em 1em;
	font-size:.8em;
}

/* main content section categories */


main section#main-content .categories{
	padding:1em;
}

main section#main-content .categories .row.group{
	flex-wrap: wrap;
}

main section#main-content .categories .group .album{
	width:calc(100% / 6);
	padding:2em .7em 0 0;
	text-align: center;
}

main section#main-content .categories .group .album>figure{
	width:10em;
}




/* bottom bar */

footer#bottom-bar{
	height:9vh;
	background-color: rgb(40, 40, 40);
}